.odometer {
    display: flex;
    align-items: center;
}



.rolling-number-window {
    position: relative;
    overflow: hidden;
    font-size: 2.2em;
    line-height: 2em;
    height:50px;
}

.rolling-number {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.rolling-number,
.rolling-number-placeholder {
    width: .55em;
    height: 2em;
}

.rolling-number {
    display: flex;
    flex-direction: column;
}